
<section class="hero is-info is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title is-1">
        Note+
      </p>
      <div class="mt-6">
        <%= link_to 'Sign Up', new_registration_path, class:"button is-info" %>
        <%= link_to 'Login', sessions_path, class:"button is-info" %>
      </div>
    </div>
  </div>
</section>